@import url(./card.css);
@import url(./modal.css);
@import url(./loader.css);
@import url(./sign-in.css);


#root {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

}

.please-sign-in {
    display: block;
    font-size: 34px;
    color: darkslategray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
}

.card-buttons {

    gap: 4px;
    display: flex;
    justify-content: flex-end;
}

.user-info {
    display: flex;
    gap: 20px;
}

.filter__wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.btn-display {
    align-self: end;
}

.hidden {
    display: none;
}

.clear-filter {
    position: absolute;
    left: 80%;
}